RewriteEngine on
RewriteCond $1 !^(index.php|css|js|images|robots.txt|plantilla|jquery-3.1.0|bootstrap)
RewriteRule ^(.*)$ index.php/$1
#RewriteRule ^(.*)/(.*)/(.*)$ index.php/$1/$2/$3
#RewriteRule ^(.*)$ /blog/index.php/$1 [L]